.popup-bingo {
    position: fixed;
    z-index: 9;
    width: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding-block: 2rem;
    text-transform: uppercase;
}

.popup-bingo h2 {
    letter-spacing: 0.5rem;
}

.popup-bingo p {
    padding: 2rem;
    color: var(--red);
}