.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 70vw;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.card-cell {
    width: 12vw;
    height: 12vw;
    background-color: var(--white);
    border: 0.3rem solid var(--text-border);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}

.card-cell-text {
    color: var(--text-color);
    font-size: calc(0.8vw + 0.8vh);
    font-weight: var(--weight-large);
    -webkit-text-stroke-width: 0.06rem;
    -webkit-text-stroke-color: var(--text-border);
}

.completed {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed .star {
    width: 12vw;
    height: 12vw;
    background-color: var(--red);;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.completed .card-cell-text {
    position: absolute;
}